.App footer {
  margin-top: 100px;
}
.App .container {
  max-width: 750px;

  padding: 20px;
  display: block;
  margin: 80px auto 20px;
  border: 1px solid #02475e;
  border-radius: 10px;
  background-color: #ebf9ff;
}
